multi-agent-framework/coding-agent/venv
multi-agent-framework/coding-agent/.env
multi-agent-framework/coding-agent/__pycache__
venv-multi-agent
llm-memory/venv
llm-memory/.env
**/**/*.json
**/**/*.csv
venv
